# This is a development docker-compose.yml, don't use this one in production
version: "3.4"

services:
    askosite:
        build: ./
        ports:
            - 80:80
        environment:
            - ASKOMICS_URL=https://test-192-168-100-87.vm.openstack.genouest.org
        volumes:
            - ./local.cfg:/askosite/local.cfg
            - ./:/askosite/
